@use 'vars';
@use '../mixins/media';

* {
	outline: #10b145;
}

html {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	color: vars.$black-90;
	background: vars.$bg-main;
	font-family: vars.$font-family;
	line-height: 1.2;
	font-size: 16px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	//display: flex;
	width: 100%;
	position: relative;
}

body:has(.modal) {
	overflow: hidden;
}

button {
	cursor: pointer;
	outline: none;
	padding: 0;
	border: none;
	background-color: transparent;
	transition: opacity 0.2s ease;
}

a {
	color: inherit;
	text-decoration: none;
	transition: opacity 0.2s ease;
	cursor: pointer;
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.15s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

.profile-title {
	color: vars.$black-90;
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%;
	margin-bottom: 24px;

	@include media.big-mobile {
		font-size: 28px;
	}
}

.cancellation {
	text-align: center;
	padding: 72px 64px;

	&__icon {
		margin: 0 auto;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		background-color: vars.$black-80;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__title {
		margin-top: 24px;
		text-align: center;
		font-size: 24px;
		font-weight: 700;
		line-height: 1.3;
		color: vars.$grey-20;
	}

	&__text {
		margin-top: 12px;
		text-align: center;
		font-size: 16px;
		line-height: 1.3;
		color: vars.$grey-60;
	}

	&__reasons {
		display: flex;
		flex-direction: column;
		row-gap: 12px;
		margin-top: 24px;
	}

	&__textarea {
		margin-top: 16px;
	}

	&__img {
		margin: 0 auto;
	}

	&__list {
		margin-top: 20px;
		border-radius: 12px;
		background: vars.$black-80;
		padding: 12px;
		display: flex;
		flex-direction: column;
		row-gap: 10px;

		&-item {
			display: flex;
			align-items: center;
			column-gap: 8px;
			color: vars.$grey-20;
		}

		&-icon {
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background-color: vars.$black-60;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	&__btn {
		margin-top: 24px;

		&--bottom {
			margin-top: 18px;
		}
	}

	&__note {
		margin-top: 16px;
		text-align: center;
		font-size: 14px;
		color: vars.$grey-100;
	}
}
